/* styles.css */

/* General Styles */
body {
    font-family: 'Roboto' ,'Arial';
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #dc3545;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }

  h5 {
    font-style: italic;
    font-weight: normal;
  }

  body{
    background-color: black;
    color: white;
  }
  
  /* Main Content Styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navigation Section Styles */
  nav {
    text-align: center;
  }
  
  /* Page-Specific Styles */
  
  /* Index Page */
  h1 {
    color: #007bff;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.4;
    color: #a09d9d;
  }
  
  a {
    color: #007bff;
  }
  
  /* Resume Page */
  ul {
    margin-top: 10px;
    color: white
  }
  
  li {
    color: #a09d9d;
  }

  #profile-picture{
    width: 400px; 
    height: auto; 
    border-radius: 10%; 
    border: 2px solid #a09d9d; 
    display: block; 
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    align-items: center;
  }

  #Experience {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
  }
  
  /* Basketball Page */
  h1 {
    color: #dc3545;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #dc3545;
    padding-bottom: 10px;
  }

  section {
    margin-bottom: 20px;
  }

  #Work,
  #WatchSports {
  float: middle; 
  width: 70%;
  }

  .contact-info {
    float: middle;
    width: 100%; /* Adjust as needed */
    text-align: center;
  }

  .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info ul li {
    margin-top: 10px;
    margin-bottom: 10px; /* Optional: Add some spacing between list items */
  }
  
  .intro-container {
    float: right;
    width: 100%;
    text-align: center;
  }

  .player-container {
    float: none; 
    margin: 0 auto; 
    text-align: center; 
  }

  ul {
    list-style: square;
    color: #555;
  }
  
  h2 {
    color: #dc3545;
  }
  
  iframe {
    width: 100%;
    height: 400px;
  }
  
  /* Additional Styles for Basketball Page */
  section {
    margin-bottom: 20px;
  }
  
  /* Fluid Layout */
  @media (max-width: 768px) {
    main {
      max-width: 100%;
      padding: 10px;
    }
  }
  
  /* Fixed Width Layout */
  @media (min-width: 769px) {
    main {
      max-width: 800px;
    }
  }
  
  /* Importing Font */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');